---
import Html from "../../public/icons/Html.astro";
import Css from "../../public/icons/Css.astro";
import React from "../../public/icons/React.astro";
import Js from "../../public/icons/Js.astro";
import GitHub from '../../public/icons/GitHub.astro';
import Php from "../../public/icons/Php.astro";
import Mysql from "../../public/icons/Mysql.astro";
import Tl from "../../public/icons/Tl.astro";
import Next from "../../public/icons/Next.astro";
import Node from "../../public/icons/Node.astro";
import Ionic from "../../public/icons/Ionic.astro";
import Python from "../../public/icons/Python.astro";
import Nest from "../../public/icons/Nest.astro";
import Flask from "../../public/icons/Flask.astro";
import Boostrap from "../../public/icons/Boostrap.astro";
import Mongo from "../../public/icons/Mongo.astro"
import PostgreSql from "../../public/icons/PostgreSql.astro";
import GraphQL from "../../public/icons/GraphQL.astro";
import Vite from "../../public/icons/Vite.astro"
import Figma from "../../public/icons/Figma.astro"
---

<div class="grid grid-cols-5 gap-8 place-content-center">
  <div class="flex flex-col items-center">
    <Html
      class="size-6 md:size-16 tecno text-lg font-medium flex flex-col-reverse justify-between"
    />
    <p class="p-2">HTML</p>
  </div>
  <div class="flex flex-col items-center">
    <Css
      class="size-6 md:size-16 tecno text-lg font-medium flex flex-col-reverse items-center justify-between"
    />
    <p class="p-2">Css</p>
  </div>
  <div class="flex flex-col items-center">
    <Js
      class="size-6 md:size-16 tecno text-lg font-medium flex flex-col-reverse items-center justify-between"
    />
    <p class="p-2">JavaScript</p>
  </div>
  <div class="flex flex-col items-center">
    <Tl
      class="size-6 md:size-16 tecno text-lg font-medium flex flex-col-reverse items-center justify-between"
    />
    <p class="p-2">Tailwind</p>
  </div>
  <div class="flex flex-col items-center">
    <React
      class="size-6 md:size-16 tecno text-lg font-medium flex flex-col-reverse items-center justify-between"
    />
    <p class="p-2">React</p>
  </div>
  <div class="flex flex-col items-center">
    <GitHub
      class="size-6 md:size-16 tecno text-lg font-medium flex flex-col-reverse items-center justify-between"
    />
    <p class="p-2">GitHub</p>
  </div>
  <div class="flex flex-col items-center">
    <Php
      class="size-6 md:size-16 tecno text-lg font-medium flex flex-col-reverse items-center justify-between"
    />
    <p class="p-2">Php</p>
  </div>
  <div class="flex flex-col items-center">
    <Mysql
      class="size-6 md:size-16 tecno text-lg font-medium flex flex-col-reverse items-center justify-between"
    />
    <p class="p-2">Mysql</p>
  </div>
  <div class="flex flex-col items-center">
    <Node
      class="size-6 md:size-16 tecno text-lg font-medium flex flex-col-reverse items-center justify-between"
    />
    <p class="p-2">NodeJs</p>
  </div>
  <div class="flex flex-col items-center">
    <Next
      class="size-6 md:size-16 tecno text-lg font-medium flex flex-col-reverse items-center justify-between"
    />
    <p class="p-2">NextJs</p>
  </div>
</div>

<h2 class="mt-10 text-2xl font-semibold mb-10">Utilizadas ocasionalmente</h2>
<div class="grid grid-cols-5 gap-8 place-content-center opacity-40">
  <div class="flex flex-col items-center">
    <Ionic
      class="size-6 md:size-16 tecno text-lg font-medium flex flex-col-reverse justify-between"
    />
    <p class="p-2">Ionic</p>
  </div>
  <div class="flex flex-col items-center">
    <Python
      class="size-6 md:size-16 tecno text-lg font-medium flex flex-col-reverse items-center justify-between"
    />
    <p class="p-2">Python</p>
  </div>
  <div class="flex flex-col items-center">
    <Nest
      class="size-6 md:size-16 tecno text-lg font-medium flex flex-col-reverse items-center justify-between"
    />
    <p class="p-2">NestJs</p>
  </div>
  <div class="flex flex-col items-center">
    <Flask
      class="size-6 md:size-16 tecno text-lg font-medium flex flex-col-reverse items-center justify-between"
    />
    <p class="p-2">Flask</p>
  </div>
  <div class="flex flex-col items-center">
    <Boostrap
      class="size-6 md:size-16 tecno text-lg font-medium flex flex-col-reverse items-center justify-between"
    />
    <p class="p-2">Boostrap</p>
  </div>
  <div class="flex flex-col items-center">
    <Mongo
      class="size-6 md:size-16 tecno text-lg font-medium flex flex-col-reverse items-center justify-between"
    />
    <p class="p-2">Mongo</p>
  </div>
  <div class="flex flex-col items-center">
    <PostgreSql
      class="size-6 md:size-16 tecno text-lg font-medium flex flex-col-reverse items-center justify-between"
    />
    <p class="p-2">PostgreSql</p>
  </div>
  <div class="flex flex-col items-center">
    <GraphQL
      class="size-6 md:size-16 tecno text-lg font-medium flex flex-col-reverse items-center justify-between"
    />
    <p class="p-2">GraphQL</p>
  </div>
  <div class="flex flex-col items-center">
    <Vite
      class="size-6 md:size-16 tecno text-lg font-medium flex flex-col-reverse items-center justify-between"
    />
    <p class="p-2">Vite</p>
  </div>
  <div class="flex flex-col items-center">
    <Figma
      class="size-6 md:size-16 tecno text-lg font-medium flex flex-col-reverse items-center justify-between"
    />
    <p class="p-2">Figma</p>
  </div>
</div>
